name: Develop

on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop, main]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: app/go.mod
      - uses: golangci/golangci-lint-action@v6
        with:
          working-directory: app
      - uses: azure/setup-helm@v4
      - uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: docker/Dockerfile
      - run: make lint
      - run: make test-unit
